@charset "UTF-8";
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@font-face {
    font-family: idroid;
    src: url(../fonte.otf);
}
body a {
    text-decoration: none;
}
body a:hover {
    text-decoration: underline;
}
header {
    border: 1px solid black;
     text-shadow: 0px 1px 1px black;
    background-image: linear-gradient(to right,#3CD681, #37C878, #2FA966, #2C9D5F, #2B975A, #247C4B, #217346, #1F6D41);
    text-align: center;
    color: white;
    position: sticky;
    top: 0%;
}
header > p {
    font-size: 0.9em;
}
nav {
    display: flex;
    justify-content: flex-end;
}
nav > a {
    color: white;
    text-decoration: none;
    margin: 0px 5px;
}
nav > a:hover {
    text-decoration: underline;
    color: #3CD681;
}
p {
    margin: 1em 1em; 
   text-indent: 20px;
   font-size: 1.1em;
}
main {
    background: #84E1AD;
}
article {
    background-color: white;
    border: 1px solid black;
    margin: 0em 1.0em;
}
main h2 {
    font-family: idroid;
    text-indent: 20px;
    text-align: justify;
    color: #4D8566;
    text-align: center;
}
main  h3{
    font-family: idroid;
    text-indent: 20px;
    text-align: justify;
    color: #4D8566;
}
main  h3 {
    background-image: linear-gradient(to right, #3cd6814d, white);
}
main img {
   display: block;
   margin: auto;
   max-width: 100%;
}
main iframe {
    display: block;
    margin: auto;
    max-width: 100%;
}
main h4 {
    text-indent: 20px;
    background-color: #2FA866;
    color: white;
    padding: 1em 0em;
}
aside {
    background-color: #C5EBD6;
    border-radius: 5px;
    margin: 1em 1em;
    padding: 1em;
    font-weight: bold;
}
 aside ul {
    column-count: 2;
    list-style-type: none;
    margin: 0px 16px;
}
footer {
 padding: 3.0em;
 background-color: #3CD681;
}footer > section#p-footer p {
    margin: 0%;
    text-align: center;
}
footer > section#img-footer  img {
    border-radius: 50%;
    height: 40px;
    margin: 10px 0px;
}
#img-footer {
    display: flex;
    justify-content: center;
}

